@inherits LayoutComponentBase

  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="assets/images/250px-Logo-Cardinal.svg.png" alt="Cardinal Health" width="197" height="67">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <AccountMenu></AccountMenu>
      </div>
    </div>
  </nav>
<div class="page">

    <div class="sidebar">
        <NavMenu/>
    </div>

  <div class="main">
    
    <div class="top-row">
      <div class="float-left">
        Dashboard
      </div>
      <div class="ml-auto">
        <span class="oi oi-home"></span> / Home
      </div>
    </div>

    <div class="content px-4">
      @Body
    </div>
  </div>
</div>