﻿@page "/"
@using CentralPayReconBlazor.Pages.Dashboard

<div class="d-flex justify-content-between">
    <RefreshWidget Title="Current Users Online" Data="3" Icon="person"></RefreshWidget>
    <SelectWidget Title="Active Users" Data="23" Text="In The Last:" Options="_options" Icon="people"></SelectWidget>
</div>
<div class="d-flex justify-content-between">
    <TextWidget Title="Last System Downtime" Data="N/A" Text="00:00:00" Icon="arrow-circle-bottom"></TextWidget>
    <TextWidget Title="Next Maintenance Window" Data="03/12/2022" Text="11:00 PM - 06:00 AM" Icon="warning"></TextWidget>
</div>


@code {

    private readonly List<string> _options = new()
    {
        "24 Hours", "7 Days", "30 Days"
    };

}