﻿@using RazorClassLibrary.Classes.Classes.Menus.Dropdowns
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a id="userImage" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-hidden="true"
           @onclick="Toggle">
            <span class="oi oi-person"></span> Account
        </a>
        <RazorClassLibrary.Components.Menus.Dropdowns.Dropdown Show="@_show" ListItems="@_list"/>
        @*<div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>*@
    </li>
</ul>

@code {

    private bool _show = false;

    private void Toggle()
    {
        _show = !_show;
    }

    private List<DropdownListItem> _list = new()
    {
        new DropdownListItem("support", new MarkupString("<span class='oi oi-headphones'></span>&nbsp;Support"), false),
        new DropdownListItem("logout", new MarkupString("<span class='oi oi-power-standby'></span>&nbsp;Logout"), false)
    };

}
