﻿<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <SubNav>
            <Header>
                <span class="oi oi-wrench" aria-hidden="true"></span>Administration
            </Header>
            <Menu>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Change Group
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Manage&nbsp;Pharmacy
                    </NavLink>
                </li>
                <SubNav>
                    <Header>
                        <span class="oi oi-people" aria-hidden="true"></span> Manage Users
                    </Header>
                    <Menu>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchdata">
                                FDS&nbsp;Recon&nbsp;Users
                            </NavLink>
                        </li>
                    </Menu>
                </SubNav>
                <SubNav>
                    <Header>
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Manage Payers
                    </Header>
                    <Menu>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchdata">
                                Central&nbsp;Pay&nbsp;Payers
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchdata">
                                Recon&nbsp;Payers
                            </NavLink>
                        </li>
                        
                    </Menu>
                </SubNav>
                <SubNav>
                    <Header>
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Tools
                    </Header>
                    <Menu>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="fetchdata">
                                FDS&nbsp;Recon&nbsp;Users
                            </NavLink>
                        </li>
                    </Menu>
                </SubNav>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Team Support
                    </NavLink>
                </li>

            </Menu>
        </SubNav>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-dollar" aria-hidden="true"></span> Central Pay
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-calculator" aria-hidden="true"></span> Reconciliation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-document" aria-hidden="true"></span> Secure File Exchange
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-arrow-circle-right" aria-hidden="true"></span> Resources
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-people" aria-hidden="true"></span> Mimic User
            </NavLink>
        </li>
    </ul>
</div>

@code {

    #region Mobile Tools

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    #endregion

}