﻿<div class="card border-secondary mb-3" style="width: 49%">
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        <p class="card-text">
            <span class="oi oi-@Icon" style="font-size: x-large"></span> @Data
            <hr/>
            <div class="float-right">
                @Text
                <select name="" id="">
                    @foreach (string option in Options)
                    {
                        <option>@option</option>
                    }
                </select>
            </div>
        </p>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Data { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public List<string> Options { get; set; }

}